<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Recipes book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping"> Shopping list</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()" >
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <ng-template [ngIf]="isAuthenticated()">

            <li>
                <a style="cursor: pointer;" (click)="onLogout()" >Logout</a>
              </li>
              <li class="dropdown" appDropdown>
                <a class="dropdown-toggle" role="button" style="cursor:pointer" >manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a style="cursor:pointer" (click)="onSaveData()">save data</a></li>

                  <li><a style="cursor:pointer" (click)="  onFetchData()">fetch data</a></li>
                </ul>

              </li>

        </ng-template>

      </ul>
    </div>

  </div>
</nav>
